/* TATA LETAK */

header {
  margin-bottom: var(--space-6);
}

main {
  margin-bottom: var(--space-6);
}

section {
  margin-bottom: var(--space-6);
}

nav ul {
  padding-left: var(--space-6);
}

footer {
  margin-top: var(--space-6);
}